.user-sign {
  border-width: 1px;
  border-style: solid;
  border-color: #ff85f8;
  color: #ff85f8;
  height: 30px;
  width: 60px;
  text-align: center;
  line-height: 30px;
  border-radius: 20px;
}

.main {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.user-box {
  z-index: 999;
  height: 60px;
  width: 100vw;
  padding: 10px;
  box-shadow: 0px 4px 4px -4px #000;
  box-sizing: border-box;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  color: #555555;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.user-avatar {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}
.scroller {
  width: 1px;
}

.story-show {
  position: absolute;
  top: 0;
}

.card-cover {
  width: 100%;
}

.card-cover-box {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 350px;
  height: 216px;
}


.card-avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

.card-box {
  text-decoration:none;
  display: block;
  color: black;
  margin-bottom: 20px;
  background: #ffffff;
  width: 350px;
  min-height: 566px;
}

.card-date {
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  
}

.card-title {
  height: 30px;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  margin-bottom: 10px;
}

.card-content {
  padding:10px;
  text-align: center;
  white-space: break-spaces;
}

.card-header {
  color: #aaaaaa;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.card-like {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.card-footer {
  color: #aaaaaa;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  background-color: #f4f4f4;
}