.modal-mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.modal-text {
  width: 90vw;
  font-size: 16px;
}

.modal-btn {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  display: flex;
  background-color: #ff85f8;
  border-radius: 6px;
  max-width: 300px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}